<div class="login-wrapper">
  <div class="login-container">

    <div class="logo-box">
      @defer { ⚡ }
    </div>
    <h1 class="titulo">Follow-up</h1>
    <p class="subtitulo">Inicia sesion para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="campo">
        <label>Correo electronico</label>
        <input type="email" placeholder="usuario@gmail.com" formControlName="email" />

        <div class="error" *ngIf="email?.touched && email?.invalid">
          <small *ngIf="email?.errors?.['required']">Por favor, ingresa tu correo</small>
          <small *ngIf="email?.errors?.['email']">Este correo no parece valido</small>
        </div>
      </div>

      <div class="campo">
        <label>Contrasena</label>
        <div class="password-wrapper">
          <input [type]="verPassword ? 'text' : 'password'" placeholder="12345678" formControlName="password" />
          <span class="ojo" (click)="toggleOjo()">
            @defer {
            {{ verPassword ? '👁️‍🗨️' : '👁️' }}

            }
          </span>
        </div>

        <div class="error" *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.errors?.['required']">Se necesita tu contraseña para entrar</small>
          <small *ngIf="password?.errors?.['minlength']">La contraseña debe tener minimo 8 caracteres</small>
        </div>
      </div>

      <button type="submit" [disabled]="isLoading">{{ isLoading ? 'Validando la informacion' : 'Iniciar sesion'
        }}</button>

      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

    </form>

    <p class="pie">
      No tienes cuenta?
      <span class="registro-link" routerLink="/signup">Registrate</span>
    </p>

  </div>
</div>
