* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: sans-serif;
  color: #ffffff;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  overflow: auto;
}